[submodule "resources/porcupine"]
	path = resources/porcupine
	url = ../porcupine.git
[submodule "resources/rhino"]
	path = resources/rhino
	url = ../rhino.git
[submodule "sdk/unity/Assets/Picovoice/VoiceProcessor"]
	path = sdk/unity/Assets/Picovoice/VoiceProcessor
	url = ../unity-voice-processor.git
[submodule "demo/c/pvrecorder"]
	path = demo/c/pvrecorder
	url = ../pvrecorder.git
[submodule "demo/c/dr_libs"]
	path = demo/c/dr_libs
	url = ../../mackron/dr_libs.git
