demo/** linguist-detectable=false
resources/** linguist-detectable=false

sdk/android/** linguist-detectable=false
sdk/dotnet/PicovoiceTest/** linguist-detectable=false
sdk/flutter/android/** linguist-detectable=false
sdk/flutter/ios/** linguist-detectable=false
sdk/go/picovoice_test.go linguist-detectable=false
sdk/ios/PicovoiceAppTest/** linguist-detectable=false
sdk/java/src/ai/picovoice/picovoice/exception/** linguist-detectable=false
sdk/java/test/** linguist-detectable=false
sdk/node/test/** linguist-detectable=false
sdk/react/** linguist-detectable=false
sdk/react-native/** linguist-detectable=false
sdk/rust/tests/** linguist-detectable=false
sdk/unity/** linguist-detectable=false
sdk/web/** linguist-detectable=false

*.py linguist-detectable=true
