[submodule "resources/porcupine"]
	path = resources/porcupine
	url = https://github.com/Picovoice/porcupine.git
[submodule "resources/rhino"]
	path = resources/rhino
	url = https://github.com/Picovoice/rhino.git
[submodule "sdk/unity/VoiceProcessor"]
	path = sdk/unity/VoiceProcessor
	url = https://github.com/Picovoice/unity-voice-processor.git
[submodule "demo/c/pvrecorder"]
	path = demo/c/pvrecorder
	url = https://github.com/Picovoice/pvrecorder.git
[submodule "demo/c/dr_libs"]
	path = demo/c/dr_libs
	url = https://github.com/mackron/dr_libs.git