name: Android AppCenter Tests

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths: 
      - 'demo/android/Activity/picovoice-activity-demo-app/build.gradle'
    
  pull_request:
    branches: [ master ]
    paths: 
      - 'demo/android/Activity/picovoice-activity-demo-app/build.gradle'

defaults:
  run:
    working-directory: demo/android/Activity
    
jobs:
  build:
    name: Run Android Tests on AppCenter
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Setup Node.js environment
      uses: actions/setup-node@v2.4.0

    - name: Install AppCenter CLI
      run: npm install -g appcenter-cli

    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'

    - name: Copy test_resources
      run: ./copy_test_resources.sh

    - name: Inject AccessKey
      run: echo pvTestingAccessKey="${{secrets.PV_VALID_ACCESS_KEY}}" >> local.properties

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build app
      run: ./gradlew assembleDebug

    - name: Build androidTest
      run: ./gradlew assembleAndroidTest

    - name: Run tests on AppCenter
      run: appcenter test run espresso 
        --token ${{secrets.APPCENTERAPITOKEN}}
        --app "Picovoice/Picovoice-Android-Activity" 
        --devices "Picovoice/single-android" 
        --app-path picovoice-activity-demo-app/build/outputs/apk/debug/picovoice-activity-demo-app-debug.apk 
        --test-series "porcupine-android" 
        --locale "en_US" 
        --build-dir picovoice-activity-demo-app/build/outputs/apk/androidTest/debug
    
  
