name: Angular Demos

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - 'demo/angular/**'
      - '!demo/angular/README.md'
      - '.github/workflows/angular-demos.yml'
  pull_request:
    branches: [ master ]
    paths:
      - 'demo/angular/**'
      - '!demo/angular/README.md'
      - '.github/workflows/angular-demos.yml'

defaults:
  run:
    working-directory: demo/angular

jobs:
  build-demos:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Pre-build dependencies
      run: npm install yarn --force

    - name: Build SDK
      run: yarn install && yarn build
      working-directory: sdk/angular

    - name: Install dependencies
      run: yarn install

    - name: Build
      run: yarn build
