name: .NET

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/dotnet.yml'
      - 'sdk/dotnet/**'
      - '!sdk/dotnet/README.md'
      - 'resources/audio_samples/**'
      - 'resources/.test/**'
      - 'resources/porcupine'
      - 'resources/rhino'
  pull_request:
    branches: [ master, 'v[0-9]+.[0-9]+' ]
    paths:
      - '.github/workflows/dotnet.yml'
      - 'sdk/dotnet/**'
      - '!sdk/dotnet/README.md'
      - 'resources/.test/**'
      - 'resources/audio_samples/**'
      - 'resources/porcupine'
      - 'resources/rhino'

defaults:
  run:
    working-directory: sdk/dotnet

jobs:
  build-github-hosted:
    runs-on: ${{ matrix.os }}
    env:
      ACCESS_KEY: ${{secrets.PV_VALID_ACCESS_KEY}}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        dotnet-version: [2.1.x, 3.0.x, 3.1.x, 5.0.x, 6.0.x]
        include:
          - dotnet-version: 2.1.x
            binding-framework: netstandard2.0
            test-framework: netcoreapp2.1
          - dotnet-version: 3.0.x
            binding-framework: netcoreapp3.0
            test-framework: netcoreapp3.0
          - dotnet-version: 3.1.x
            binding-framework: netcoreapp3.0
            test-framework: netcoreapp3.1
          - dotnet-version: 5.0.x
            binding-framework: netcoreapp3.0
            test-framework: net5.0
          - dotnet-version: 6.0.x
            binding-framework: net6.0
            test-framework: net6.0
          - os: ubuntu-latest
            nuget-path: ~/.nuget/NuGet/local-nuget
          - os: macos-latest
            nuget-path: ~/.nuget/NuGet/local-nuget
          - os: windows-latest
            nuget-path: ~/AppData/Roaming/NuGet/local-nuget

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ matrix.dotnet-version }}

    # *********** REMOVE AFTER RELEASE **********************
    - name: mkdir NuGet directory
      run: mkdir -p ${{ matrix.nuget-path }}

    - name: Add local NuGet source
      run: dotnet nuget add source local-nuget

    - name: Pack Porcupine for local ref
      run: dotnet pack -c Release
      working-directory: resources/porcupine/binding/dotnet

    - name: Copy Porcupine Nuget
      run: cp ../../resources/porcupine/binding/dotnet/Porcupine/bin/Release/*.nupkg ${{ matrix.nuget-path }}

    - name: Pack Rhino for local ref
      run: dotnet pack -c Release
      working-directory: resources/rhino/binding/dotnet

    - name: Copy Rhino Nuget
      run: cp ../../resources/rhino/binding/dotnet/Rhino/bin/Release/*.nupkg ${{ matrix.nuget-path }}
    # ******************************************************

    - name: Build binding
      run: dotnet build Picovoice/Picovoice.csproj --framework ${{ matrix.binding-framework }} -v n

    - name: Test
      run: dotnet test --framework ${{ matrix.test-framework }} -v n

  build-self-hosted:
    runs-on: ${{ matrix.machine }}
    env:
      ACCESS_KEY: ${{secrets.PV_VALID_ACCESS_KEY}}

    strategy:
      matrix:
        machine: [rpi2, rpi3-32, rpi3-64, rpi4-32, rpi4-64, jetson, beaglebone]

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v3
      with:
        submodules: recursive

    # *********** REMOVE AFTER RELEASE **********************
    - name: mkdir NuGet directory
      run: mkdir -p ${{ matrix.nuget-path }}

    - name: Add local NuGet source
      run: dotnet nuget add source local-nuget
      continue-on-error: true

    - name: Pack Porcupine for local ref
      run: dotnet pack -c Release
      working-directory: resources/porcupine/binding/dotnet

    - name: Copy Porcupine Nuget
      run: cp ../../resources/porcupine/binding/dotnet/Porcupine/bin/Release/*.nupkg ~/.nuget/NuGet/local-nuget

    - name: Pack Rhino for local ref
      run: dotnet pack -c Release
      working-directory: resources/rhino/binding/dotnet

    - name: Copy Rhino Nuget
      run: cp ../../resources/rhino/binding/dotnet/Rhino/bin/Release/*.nupkg ~/.nuget/NuGet/local-nuget
    # ******************************************************

    - name: Build binding
      run: dotnet build Picovoice/Picovoice.csproj --framework net6.0 -v n

    - name: Test
      run: dotnet test --framework net6.0 -v n
