name: .NET

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/dotnet.yml'
      - 'sdk/dotnet/**'
      - '!sdk/dotnet/README.md'
      - 'resources/audio_samples/**'
      - 'resources/porcupine'
      - 'resources/rhino'
      - 'resources/test/**'
  pull_request:
    branches: [ master, 'v[0-9]+.[0-9]+' ]
    paths:
      - '.github/workflows/dotnet.yml'
      - 'sdk/dotnet/**'
      - '!sdk/dotnet/README.md'
      - 'resources/audio_samples/**'
      - 'resources/porcupine'
      - 'resources/rhino'
      - 'resources/test/**'

defaults:
  run:
    working-directory: sdk/dotnet

jobs:
  build-github-hosted:
    runs-on: ${{ matrix.os }}
    env:
      ACCESS_KEY: ${{secrets.PV_VALID_ACCESS_KEY}}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Setup .NET 6.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Test
      run: dotnet test

  build-self-hosted:
    runs-on: ${{ matrix.machine }}
    env:
      ACCESS_KEY: ${{secrets.PV_VALID_ACCESS_KEY}}

    strategy:
      matrix:
        machine: [rpi2, rpi3-32, rpi3-64, rpi4-32, rpi4-64, jetson, beaglebone]

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Test
      run: dotnet test
