name: .NET

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/dotnet.yml'
      - 'sdk/dotnet/**'
      - '!sdk/dotnet/README.md'
      - 'resources/audio_samples/**'
      - 'resources/.test/**'
      - 'resources/porcupine'
      - 'resources/rhino'
  pull_request:
    branches: [ master, 'v[0-9]+.[0-9]+' ]
    paths:
      - '.github/workflows/dotnet.yml'
      - 'sdk/dotnet/**'
      - '!sdk/dotnet/README.md'
      - 'resources/.test/**'
      - 'resources/audio_samples/**'
      - 'resources/porcupine'
      - 'resources/rhino'

defaults:
  run:
    working-directory: sdk/dotnet

jobs:
  build-github-hosted:
    runs-on: ${{ matrix.os }}
    env:
      ACCESS_KEY: ${{secrets.PV_VALID_ACCESS_KEY}}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        dotnet-version: [2.0.x, 3.0.x, 3.1.x, 5.0.x, 6.0.x]
        include:
          - dotnet-version: 2.0.x
            binding-framework: netstandard2.0
            test-framework: netcoreapp2.0
          - dotnet-version: 3.0.x
            binding-framework: netcoreapp3.0
            test-framework: netcoreapp3.0
          - dotnet-version: 3.1.x
            binding-framework: netcoreapp3.0
            test-framework: netcoreapp3.1
          - dotnet-version: 5.0.x
            binding-framework: netcoreapp3.0
            test-framework: net5.0
          - dotnet-version: 6.0.x
            binding-framework: net6.0
            test-framework: net6.0

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ matrix.dotnet-version }}

    - name: Build binding
      run: dotnet build Picovoice/Picovoice.csproj --framework ${{ matrix.binding-framework }}

    - name: Test
      run: dotnet test --framework ${{ matrix.test-framework }} -v d

  build-self-hosted:
    runs-on: ${{ matrix.machine }}
    env:
      ACCESS_KEY: ${{secrets.PV_VALID_ACCESS_KEY}}

    strategy:
      matrix:
        machine: [rpi2, rpi3-32, rpi3-64, rpi4-32, rpi4-64, jetson, beaglebone]

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Build binding
      run: dotnet build Picovoice/Picovoice.csproj --framework net6.0

    - name: Test
      run: dotnet test --framework net6.0 -v d
