name: Flutter

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - 'demo/flutter/pubspec.yaml'
      - '.github/workflows/flutter.yml'
  pull_request:
    branches: [ master, 'v[0-9]+.[0-9]+' ]
    paths:
      - 'demo/flutter/pubspec.yaml'
      - '.github/workflows/flutter.yml'

defaults:
  run:
    working-directory: demo/flutter

jobs:
  check-flutter-codestyle:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Install Flutter 2.10.0
      uses: subosito/flutter-action@v2
      with:
        flutter-version: 2.10.0

    - name: Run Binding Analyzer
      run: flutter analyze --no-fatal-infos --no-fatal-warnings
      working-directory: sdk/flutter

    - name: Run Demo Analyzer
      run: flutter analyze --no-fatal-infos --no-fatal-warnings
      working-directory: demo/flutter