name: iOS AppCenter Tests

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/ios-appcenter.yml'
      - 'sdk/ios/PicovoiceAppTest/**'
      - 'resources/audio_samples/**'
      - 'resources/porcupine'
      - 'resources/rhino'
      - 'resources/.test/**'
  pull_request:
    branches: [ master, 'v[0-9]+.[0-9]+' ]
    paths:
      - '.github/workflows/ios-appcenter.yml'
      - 'sdk/ios/PicovoiceAppTest/**'
      - 'resources/audio_samples/**'
      - 'resources/porcupine'
      - 'resources/rhino'
      - 'resources/.test/**'

defaults:
  run:
    working-directory: sdk/ios/PicovoiceAppTest

jobs:
  build:
    name: Run iOS Tests on AppCenter
    runs-on: macos-latest

    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Node.js environment
        uses: actions/setup-node@v3

      - name: Install Cocoapods
        run: gem install cocoapods

      - name: Install AppCenter CLI
        run: npm install -g appcenter-cli

      - name: Make build dir
        run: mkdir ddp

      - name: Install resource script dependency
        run: |
          brew update
          brew install convmv

      - name: Copy test_resources
        run: ./copy_test_resources.sh

      - name: Run Cocoapods
        run: pod install

      - name: Inject AppID
        run: sed -i '.bak' 's:{TESTING_ACCESS_KEY_HERE}:${{secrets.PV_VALID_ACCESS_KEY}}:'
          PicovoiceAppTestUITests/BaseTest.swift

      - name: XCode Build
        run: xcrun xcodebuild build-for-testing
          -configuration Debug
          -workspace PicovoiceAppTest.xcworkspace
          -sdk iphoneos
          -scheme PicovoiceAppTest
          -derivedDataPath ddp
          CODE_SIGNING_ALLOWED=NO

      - name: Run Tests on AppCenter
        run: appcenter test run xcuitest
          --token ${{secrets.APPCENTERAPITOKEN}}
          --app "Picovoice/Picovoice-iOS"
          --devices "Picovoice/ios-min-max"
          --test-series "picovoice-ios"
          --locale "en_US"
          --build-dir ddp/Build/Products/Debug-iphoneos
