name: Python

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/python.yml'
      - 'sdk/python/**'
      - '!sdk/python/README.md'
      - 'resources/audio_samples/**'
      - 'resources/porcupine'
      - 'resources/rhino'
      - 'resources/.test/**'
  pull_request:
    branches: [ master, 'v[0-9]+.[0-9]+' ]
    paths:
      - '.github/workflows/python.yml'
      - 'sdk/python/**'
      - '!sdk/python/README.md'
      - 'resources/audio_samples/**'
      - 'resources/porcupine'
      - 'resources/rhino'
      - 'resources/.test/**'

defaults:
  run:
    working-directory: sdk/python

jobs:
  build-github-hosted:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.7', '3.8', '3.9', '3.10']

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Pre-build dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel

    - name: Install dependencies (temporary)
      run: |
        pip install -r requirements.txt
        pushd ../../resources/porcupine/binding/python && python setup.py bdist_wheel && pip install dist/pvporcupine-2.2.0-py3-none-any.whl && popd
        pushd ../../resources/rhino/binding/python && python setup.py bdist_wheel && pip install dist/pvrhino-2.2.0-py3-none-any.whl && popd

    - name: Test
      run: python test_picovoice.py ${{secrets.PV_VALID_ACCESS_KEY}}


  build-self-hosted:
    runs-on: ${{ matrix.machine }}

    strategy:
      matrix:
        machine: [rpi2, rpi3-32, rpi3-64, rpi4-32, rpi4-64, beaglebone]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Pre-build dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip3 install wheel

    - name: Install dependencies (temporary)
      run: |
        pip install -r requirements.txt
        pushd ../../resources/porcupine/binding/python && python setup.py bdist_wheel && pip install dist/*.whl && popd
        pushd ../../resources/rhino/binding/python && python setup.py bdist_wheel && ls dist/ && pip install dist/*.whl && popd

    - name: Test
      run: python3 test_picovoice.py ${{secrets.PV_VALID_ACCESS_KEY}}
