name: React

on:
  push:
    branches: [ github-actions ]
    paths:
      - 'DELETEME.TXT'
      - 'sdk/react/**'
      - '!sdk/react/README.md'
  pull_request:
    branches: [ github-actions ]
    paths:
      - 'DELETEME.TXT'
      - 'sdk/react/**'
      - '!sdk/react/README.md'

defaults:
  run:
    working-directory: sdk/react

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Pre-build dependencies
      run: npm install yarn

    - name: Install dependencies
      run: yarn install

    - name: Build
      run: yarn build
