name: React Native Tests
on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/react-native-tests.yml'
      - 'sdk/react-native/**'
      - '!sdk/react-native/README.md'
      - 'resources/.test/**'
      - 'resources/audio_samples/**'
      - 'resources/porcupine'
      - 'resources/rhino'

  pull_request:
    branches: [ master, 'v[0-9]+.[0-9]+' ]
    paths:
      - '.github/workflows/react-native-tests.yml'
      - 'sdk/react-native/**'
      - '!sdk/react-native/README.md'
      - 'resources/.test/**'
      - 'resources/audio_samples/**'
      - 'resources/porcupine'
      - 'resources/rhino'

defaults:
  run:
    working-directory: sdk/react-native/test-app/PicovoiceTestApp

jobs:
  test-android:
    name: Run tests on Android
    runs-on: pv-android

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: Install Porcupine dependencies
      run: yarn install && yarn pkg
      working-directory: resources/porcupine/binding/react-native

    - name: Install Rhino dependencies
      run: yarn install && yarn pkg
      working-directory: resources/rhino/binding/react-native

    - name: Pre-build dependencies
      run: |
        yarn install
        ./copy_test_resources.sh

    - name: Inject AppID
      run: sed -i 's:{TESTING_ACCESS_KEY_HERE}:${{secrets.PV_VALID_ACCESS_KEY}}:' Tests.ts

    - name: Build tests
      run: detox build --configuration android.emu.release

    - name: Run tests
      run: detox test --configuration android.emu.release

  test-ios:
    name: Run tests on iOS
    runs-on: pv-ios

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: Install Porcupine dependencies
      run: yarn install && yarn pkg
      working-directory: resources/porcupine/binding/react-native

    - name: Install Rhino dependencies
      run: yarn install && yarn pkg
      working-directory: resources/rhino/binding/react-native

    - name: Pre-build dependencies
      run: |
        yarn install
        ./copy_test_resources.sh

    - name: Cocoapods install
      working-directory: sdk/react-native/test-app/PicovoiceTestApp/ios
      run: pod install --repo-update

    - name: Inject AppID
      run: sed -i '.bak' 's:{TESTING_ACCESS_KEY_HERE}:${{secrets.PV_VALID_ACCESS_KEY}}:' Tests.ts

    - name: Build tests
      run: detox build --configuration ios.sim.release

    - name: Run tests
      run: detox test --configuration ios.sim.release
