name: Vue

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - 'sdk/vue/**'
      - '!sdk/vue/README.md'
      - 'resources/porcupine'
      - 'resources/rhino'
      - '.github/workflows/vue.yml'
  pull_request:
    branches: [ master, 'v[0-9]+.[0-9]+' ]
    paths:
      - 'sdk/vue/**'
      - '!sdk/vue/README.md'
      - 'resources/porcupine'
      - 'resources/rhino'
      - '.github/workflows/vue.yml'

defaults:
  run:
    working-directory: sdk/vue

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Pre-build dependencies
      run: npm install yarn

    - name: Install dependencies
      run: yarn install

    - name: Build
      run: yarn build

    - name: Setup test
      run: yarn setup-test

    - name: Run test
      run: yarn test --env ACCESS_KEY=${{secrets.PV_VALID_ACCESS_KEY}}
