name: Web

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - 'sdk/web/**'
      - '!sdk/web/README.md'
      - 'resources/porcupine'
      - 'resources/rhino'
      - '.github/workflows/web.yml'
  pull_request:
    branches: [ master ]
    paths:
      - 'sdk/web/**'
      - '!sdk/web/README.md'
      - '.github/workflows/web.yml'

defaults:
  run:
    working-directory: sdk/web

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.8]
        node-version: [14.x, 16.x]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install system dependencies
      run: |
        pip install selenium
        pip install webdriver-manager

    - name: Pre-build dependencies
      run: npm install yarn

    - name: Install dependencies
      run: yarn install

    - name: build
      run: yarn build

    - name: Test
      run: python test/selenium_test.py --access_key ${{secrets.PV_VALID_ACCESS_KEY}} --test_audio_file ../../resources/audio_samples/picovoice-coffee.wav