name: Web

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - 'sdk/web/**'
      - '!sdk/web/README.md'
      - '.github/workflows/web.yml'
      - 'resources/audio_samples/**'
      - 'resources/porcupine'
      - 'resources/rhino'
      - 'resources/test/**'
  pull_request:
    branches: [ master, 'v[0-9]+.[0-9]+' ]
    paths:
      - 'sdk/web/**'
      - '!sdk/web/README.md'
      - '.github/workflows/web.yml'
      - 'resources/audio_samples/**'
      - 'resources/porcupine'
      - 'resources/rhino'
      - 'resources/test/**'

defaults:
  run:
    working-directory: sdk/web

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [lts/*]

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Pre-build dependencies
        run: npm install yarn

      - name: Copy Porcupine libs
        run: yarn copywasm && yarn copyppn
        working-directory: resources/porcupine/binding/web

      - name: Build Porcupine
        run: yarn && yarn build
        working-directory: resources/porcupine/binding/web

      - name: Copy Rhino libs
        run: yarn copywasm
        working-directory: resources/rhino/binding/web

      - name: Build Rhino
        run: yarn && yarn build
        working-directory: resources/rhino/binding/web

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: yarn build

      - name: Prepare Test
        run: yarn setup-test

      - name: Test
        run: yarn test --env ACCESS_KEY=${{secrets.PV_VALID_ACCESS_KEY}}
